.app {
  display: grid;
  place-items: center; /* Centres all the elements within it including the app__body horizontally*/
  height: 100vh; /* Centres all the elements within it including the app__body vertically*/
  background-color: #dadbd3;
}
.app__body{
  display: flex;
  background-color: #ededed;
  /* 'margin-top', 'height' and 'width' pull the Sidebar & Chat components up to the top left side */
  margin-top: -50px;
  height: 90vh;
  width: 90vw;
  box-shadow: -1px 4px 20px -6px rgba(0,0,0,0.75);
}
